body {
  display: block;
}

.img-wrap {
  overflow: hidden;
}

.img-wrap img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-wrap img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
